<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7-1-Tugas-Form-Input-Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="Search" placeholder="input text here" />
      <ul>
        <li v-for="book in SearchBooks">{{ book }}</li>
      </ul>
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementar",
            "Aljabar Abstrack",
            "Algoritma Pemrograman",
          ],
          Search: "",
        },
        computed: {
          SearchBooks: function () {
            return this.books.filter(book => {
            return book.toLowerCase().includes(this.Search.toLowerCase())
          })
          },
        },
      });
    </script>
  </body>
</html>
