<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta user="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>Quiz 5 </title>
</head>
<body>
    <div id="app">
        <div class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
            <input required class="form-control" type="text" placeholder="Input Nama" v-model="user" >
            </div>
            <button v-show="!update" @click="addUser" class="btn btn-primary mb-2">add</button>
            <button v-show="update" @click="updateUser" class="btn btn-warning mb-2">update</button>
        </div> 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody  v-for="(user, id) in users">
              <tr>
                <th scope="row">{{ id }}</th>
                <td>{{ user }}</td>
                <td><button class="btn btn-warning" @click="editUser(user, id)">Edit</button> 
                    <button class="btn btn-danger" @click="deleteUser(id)" >Delete</button></td>
              </tr>
            </tbody>
        </table>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue(
            {
            el: '#app',
            data: {
                users : ["Muhammad Iqbal Mubarok", "Ruby Purwanti", "Faqih Muhammad"],
                user : '',
                update : false
            },
            methods: {
                addUser() 
                {
                    this.users.push(this.user);
                    this.user = "";
                    this.id = null;
                },
                editUser(user, id) 
                {
                    this.user = user;
                    this.id = id;
                    this.update = true;
                },
                updateUser() 
                {
                    this.users[this.id] = this.user;
                    this.user = "";
                    this.id = null;
                    this.update = false;
                },
                deleteUser(id) 
                {
                    if(confirm('Yakin mau dihapus??'))
                    this.users.splice(id, 1);
                },
            },
        })
    </script>
</body>
</html>